@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 700;
  src: local('AvenirNext'),
  url('../fonts/AvenirNext-Bold.ttf');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 500;
  src: local('AvenirNext'),
  url('../fonts/AvenirNext-Medium.ttf');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
  url('../fonts/AvenirNext-Regular.ttf');
}