doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Test
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/style.css")

    body

        .wrapper
            .header-wrapper
                header.header.container
                    .mobile-nav
                        ul
                            li MOБ МЕНЮ
                            li MOБ МЕНЮ
                            li MOБ МЕНЮ
                            li MOБ МЕНЮ
                            li MOБ МЕНЮ

                    .header-language.language
                        ul.language__list
                            li.language__item рус
                            li.language__item каз
                    .header-box
                        .header-logo.logo
                            img(src="images/logo.png").logo__img
                            p.logo__text Центр онлайн тестирования
                        .header-nav
                            ul.header-nav__list
                                li.header-nav__item: a(href="#").header-nav__link Материалы
                                li.header-nav__item: a(href="#").header-nav__link О проекте
                        .header-entrance
                            ul.header-entrance__list
                                li.header-entrance__item Вход
                                li.header-entrance__item Регистрация

                        .mobile-nav-toggle: span
                    .header-center
                        h1.header-center__title Самый лучший способ оценить свои знания
                        p.header-center__text Пробное тестирование и школьные образовательные курсы
                        button.header-center__button Узнать больше


            .section-wrapper
                section.section-test.container
                    .section-test-box
                        h2.section-test-box__title Сдать ЕНТ </br> больше не проблема
                        p.section-test-box__text Если ты хочешь:
                        ul.section-test-box__list
                            li.section-test-box__item <span class="section-test-box__icon">пройти Единое Национальное Тестирование или Комплексное Тестирование,</span>
                            li.section-test-box__item <span class="section-test-box__icon">уверенно чувствовать себя на экзамене,</span>
                            li.section-test-box__item <span class="section-test-box__icon">набрать максимум баллов на тестировании,</span>
                        p.section-test-box__text то наше предложение как раз для тебя
                        button.section-test-box__button Узнать больше
                        .test-box
                            a(href="#").test-box__link UStudy.kz — официальный партнер Национального Центра Тестирования.

            footer.footer.container
                .footer-box
                    p.footer-box__text <span class="footer-box__icon">+7 (727) 356 00 28</span> или <span class="footer-box__icon">3560</span>, звонки с любых операторов (кроме АLTEL) бесплатны. <a href="#" class="footer-box__link">info@ustudy.kz</a>
                .footer-copyright
                    p.footer-copyright__text &copy; ТОО "U-Partners" 2011-2017, Все права защищены.





    script(src="js/jquery-3.0.0.min.js")
    script(src="js/functions.js")


